@font-face {
	font-family: Aller;
	font-weight: normal;
	src: url('Aller_Rg.ttf');
    format('truetype');
}

@font-face {
	font-family: Aller;
	font-weight: bold;
	src: url('Aller_Bd.ttf');
    format('truetype');
}

body {
    background-color: #000000;
}

span.font {
    font-family: Aller, monospace;
}

span.size24 {
    font-size: 24pt;
    padding-left: 11px;
}

.clearBoth {
    clear: both;
}

.nowrap {
    white-space: nowrap;
}

.header {
    width: 1012px;
}

.header:after {
    clear: both;
}

.container {
    margin-left: 10%;
}

.headerLogo, .headerMoto, .headerSocialIcons, .user {
    border-left: 400px;
    float: left;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-left: 10px;
    padding-top: 30px;
}

.headerMoto {
    color: white;
    font-family: Aller,monospace;
    font-size: 22pt;
    padding-left: 50px;
}

.rightFloat {
    float: right;
}

.user {
    color: white;
}

/*
Homepage
*/
.callForIdea {
    background-color: #5FD4E5;
    border-top: 5px;
    color: white;
    float: left;
    font-family: Aller,monospace;
    font-size: 22pt;
    font-weight: bold;
    height: 74px;
    margin-left: 11px;
    padding-left: 40px;
    padding-top: 8px;
    width: 495px;
    cursor: pointer;
}

.callForIdeaIcon {
    float: right;
    padding-right: 5px;
    padding-top: 5px;
}

.leftFloat {
    float: left;
}

.filterWhat {
    font-size: 24pt;
    height: 35px;
    width: 216px;
    padding-left: 11px;
}

.filterWhere {
    font-size: 24pt;
    height: 35px;
    width: 216px;
    padding-left: 11px;
}

.issueBox {
    background-color: #D33060;
    float: left;
    height: 260px;
    margin-left: 11px;
    margin-top: 11px;
    width: 495px;
    padding-left: 40px;
    padding-top: 75px;
}

.issueImg {
    display:inline;
    width: 100%;
    height: auto;
    max-width: 100%;
    z-index:3;
}

.issueBoxPlace {
    font-size: 20pt;
    height: 33px;
    padding-bottom: 15px;
    padding-right: 15px;
}

.countersBox {
    background-color: #000000;
    border-top: 10px;
    color: white;
    float: left;
    font-family: Aller,monospace;
    font-size: 12pt;
    height: 74px;
    margin-top: 10px;
    padding-top: 8px;
    width: 174px;
}

.headerText {
    font-size: 20pt;
}

.textUnderline {
    text-decoration: underline;
}

.spanIssueTextFont {
    font-family: Aller,monospace;
    font-size: 42pt;
    font-weight: bold;
}

.spanIssueTextColor1 {
    color: #000000;
    background-color: green;
}

.spanIssueTextColor2 {
    color: white;
    background-color: #000000;
}

.spanIssuePlace {
    color: white;
    background-color: #000000;
}

/* Issue detail page */

.issueDetail {
    width: 1012px;
}

.issueBoxDetail {
    height: 363px;
    width: 550px;
    float: left;
    background-color: blue;
    margin-right: 10px;
    /* same color as issueBox */
}

.issueInfo {
    background-color: #5FD4E5;
    color: white;
    height: 79px;
    width: 442px;
}

.issueInfoItems {
    font-size: 15pt;
    float: left;
    margin-left: 11px;
    margin-top: 5px;
}

.issueInfoJoin {
    font-size: 15pt;
    float: right;
    margin-right: 11px;
    margin-top: 11px;
    cursor: pointer;
}

.issuePlace {
    background-color: #5FD4E5;
    color: white;
    height: 55px;
    width: 432px;
    font-size: 24pt;
    font-family: Aller, monospace;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 11px;
}

.issueDescription {
    height: 149px;
    width: 432px;
    background-color: #D33060;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 11px;
    font-size: 16pt;
    font-family: Aller, monospace;
}

.issueProgress {
    margin-top: 20px;
    padding-top: 20px;
    width: 1012px;
}

.timeLine {

}

/** facebook */
.discussionBox {
    height: 293px;
    width: 589px;
    background-color: #6DBE40;
    float: left;
    min-height: 400px;
}

.addTask {
    height: 29px;
    width: 215px;
    background-color: #E6E6E6;
    padding-left: 11px;
    padding-top: 11px;
}

.task {
    height: 29px;
    width: 215px;
    background-color: green;
    float: left;
    margin-top: 11px;
    padding-left: 11px;
    padding-top: 11px;
}

.taskOwner {
    height: 29px;
    width: 100px;
    background-color: yellow;
    float: left;
    margin-left: 11px;
    margin-top: 11px;
    padding-left: 11px;
    padding-top: 11px;
}

.imageGallery {
    height: 133px;
    width: 379px;
    background-color: transparent;
}
/**
in the middle separate
gotham font
*/


