

@main("Issue") {
    <div class="issueDetail">
        <div class="issueBoxDetail inline"></div>
        <div class="leftFloat inline">
            <div class="issueInfo">
                <div class="issueInfoItems inline">
                    <b>Správce nápadu:</b> Libor<br/>
                    <b>Uličnická rodina:</b> 23 členů<br/>
                    <b>Pracujeme na tom:</b> X dnů<br/>
                </div>
                <div class="issueInfoJoin inline"><b>Chci se přidat</b><img class="inline" src='@routes.Assets.at("images/ikonka-tlacitko-small.png")'/></div>
            </div>
            <div class="issuePlace">Praha 5: Drtinova 1</div>
            <div class="issueDescription">Okolí metra Strašnická budí hrůzu už dálky, natož z blízka. Přitom by stačila barva, štětce a pár rukou. Kdo se přidá?</div>
        </div>
    </div>
    <div>
        <!-- timeline -->
    </div>
    <br class="clearBoth"/>
    <div class="issueProgress">
        <div class="leftFloat inline">
            <div class="addTask inline">přidat úkol</div>
            <br class="clearBoth"/>

            <div class="task inline">Dřevo</div>
            <div class="taskOwner inline">Alois</div>
            <br class="clearBoth"/>
            <div class="task">Hřebíky</div>
            <div class="taskOwner">Jana</div>
            <br class="clearBoth"/>
            <div class="imageGallery"></div>
        </div>
        <div class="discussionBox inline">
            &nbsp;
        </div>
    </div>
}
