@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
        <script src='@routes.Assets.at("javascripts/jquery-1.7.1.min.js")' type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="headerLogo">
                  <img width="270px" height="68px" src='@routes.Assets.at("images/logo_ulicnik.png")'/>
                </div>
                <div class="headerMoto inline">
                Zkusme změnit veřejný <br/>prostor... <span class="underline">společně!</span>
                </div>
                <div class="headerSocialIcons inline">
                    <a href="http://www.facebook.com/ulicnik.cz/" target="_blank"><img src='@routes.Assets.at("images/icons/facebook.png")'/></a>
                    <a href="https://twitter.com/ulicnici/" target="_blank"><img src='@routes.Assets.at("images/icons/twitter.png")'/></a>
                    <a href="http://blog.ulicnik.cz/" target="_blank"><img src='@routes.Assets.at("images/icons/blog.png")'/></a>
                </div>
            </div>
            <br class="clearBoth"/>
            @content
        </div>
    </body>
</html>
