@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="header">
            <div class="headerElement">
              <img width="600px" height="141px" src="@routes.Assets.at("images/logo_ulicnik.png")"/>
            </div>
            <div class="headerText inline headerElement">
            Zkusme změnit veřejný <br/>prostor... <span class="underline">společně</span>
            </div>
            <div class="inline headerElement">
                <img src="@routes.Assets.at("images/icons/facebook.png")"/>
                <img src="@routes.Assets.at("images/icons/twitter.png")"/>
                <img src="@routes.Assets.at("images/icons/blog.png")"/>
            </div>
        </div>
        <br class="clearBoth"/>
        @content
    </body>
</html>
